#jinja2: lstrip_blocks: 'True'
network:
 version: 2
 renderer: networkd
 ethernets:
   {{ internal_interface }}:
     routes:
     {% for host in groups['worker'] %}
     {% if inventory_hostname != host %}
     - to: 10.200.{{ hostvars[host]['inventory_hostname'] | last }}.0/24
       via: {{ hostvars[host]['ansible_facts'][internal_interface]['ipv4']['address'] }}
     {% endif %}
     {% endfor %}
