kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: {{ lookup('community.general.random_string', base64=True, length=32) }}
      - identity: {}
